@{
    ViewBag.Title = "Home Page";
}
<!-- Slide 1 -->
<div class="item active">
    <img src="~/Content/images/background.jpg" alt="background" style="width:860px;margin:auto;height:330px; margin-left:150px;">
    @*<div class="centered">Home Loan Express</div>*@

</div>


@*<div class="jumbotron">
        <h1>Home Loan Express</h1>
        <p class="lead">  Home Loan Express is the largest Mortgage Lender in India, which has helped over 30 lakh families to achieve the dream of owning a home.</p>
        <p><a href="https://localhost:44328/SignIns" class="btn btn-primary btn-lg">Apply Now &raquo;</a></p>
    </div>*@

<div class="row">
    <div class="col-md-4">
        <h1>Home Loan Express</h1>
        <br />
        <p>
            <h4> Bringing Joy of Own Home </h4>
            At your finger tip......

        </p>
        <p><a href="https://localhost:44328/SignIns" class="btn btn-primary btn-lg">Apply Now &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <br />
        <br />
        <br />
        <br />

        <h3>Loan Calculator</h3>

        <p>
            Calculate EMI, Affordability, Tenure & Interest Rate

        </p>
        <p><a href="https://localhost:44328/Home/calcu" class="btn btn-primary btn-lg">Calculate &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <br />
        <br />
        <br />
        <br />

        <h3>Learn More</h3>

        <p>
            more about and contact details

        </p>
        <p><a href="https://localhost:44328/Home/Contact" class="btn btn-primary btn-lg">CallUs &raquo;</a></p>
    </div>
</div>

