
@{
    ViewBag.Title = "info";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}





<h4>Congratulations!!!!</h4>
<h3>Application is Submited Succesfully </h3>
<div>
    <button><a href="https://localhost:44328/Personals/Tracking">Track your loan Application</a></button>
</div>